body {
    margin: 50px auto;
    width: 50%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    /* font-weight: bold; */
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 18pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 13pt;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 8pt;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 11pt;
}

ul.posts li {
    list-style: none;
}
